SCADRIAL_DB_DSN=postgres://username:password@localhost/scadrial?sslmode=disable
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=25
SMTP_USERNAME=replace-me
SMTP_PASSWORD=replace-me
SMTP_SENDER=ScadrialApi <no-reply@example.com>
